In [ ]:
import numpy as np
import pandas as pd

## Selecting Data from `DataFrame` Objects

Similiarly to what we found with `Series` objects. You can interact with `DataFrame` objects in ways that sometimes resemble a dictionary and other times a NumPy array.

In [ ]:
college_scorecard = pd.read_csv(
    './data/college-scorecard-data-scrubbed.csv', 
    encoding='latin-1',
    index_col = 'institution_name')
college_scorecard.head()

### Masking

Masking operations likewise return rows from a `DataFrame`, but the **criteria of the masks will be a comparison on one of the columns/Series**. This is somewhat confusing sounding, so let's just demonstrate:

In [ ]:
college_scorecard['state'] == 'AK'

In [ ]:
# Return all rows where the 'state' Series has a value of 'AK'
college_scorecard[ college_scorecard['state'] == 'AK']

In [ ]:
# Which colleges in IN offer Bachelors degrees?
# Again, notice the parathesis here
# Also, notice that I'm assigning it to a variable so that I can use it later
colleges_IN_Bachelors = college_scorecard[
    (college_scorecard['state'] == 'IN') & 
    (college_scorecard['predominant_degree_desc'] == 'Bachelors')
    ]

**NOTE**: You can break down the right hand side of the assignment into two lines for readability of the code.

In [ ]:
colleges_IN_Bachelors

In [ ]:
# how many colleges met the criteria?
print(len(colleges_IN_Bachelors))
colleges_IN_Bachelors.shape[0]

### Selecting Multiple Columns of DataFrame

In [ ]:
two_columns = college_scorecard[ ['state', 'predominant_degree_desc'] ]
two_columns.head()

**NOTE**: Among the two sets of square brackets `[[ ]]`, the first set is used to select the columns, the second set is used to list the columns you want to select.

# Handling Missing Data

In [ ]:
none_val = None
print(type(none_val))
print(none_val is None)

In [ ]:
none_val*5

In [ ]:
# what is this included None?
vals1 = np.array([1, 3, None, 4])
vals1*5

In [ ]:
vals1

In [ ]:
np.sum(vals1)

### NaN: Missing numerical data

NaN stands for Not-a-Number

In [ ]:
vals1 = np.array([1, np.nan, 3, 4])
vals1*5

In [ ]:
vals1

In [ ]:
vals1.dtype

In [ ]:
np.sum(vals1)

**Sum of any true number and a nan is a nan**

### np.nansum

Used to treat nan as a zero in adding the elements of the array

In [ ]:
np.nansum(vals1)

In [ ]:
# lots of nan related functions...
np.nanmedian(vals1)

### NaN and None in pandas

Pandas converts both NaN and None as NaN

In [ ]:
simple_series = pd.Series([1,np.nan, 2, None])

In [ ]:
simple_series

In [ ]:
print("sums up total:  ", simple_series.sum())
print("averages of existing numbers:  ", simple_series.mean())

## Operating on Null Values

The following functions help in detecting and handling the null values in Pandas package

| Ufunc for missing values              | Description |                         
|---------------------|----------------------------------------------------------|
|``isnull()``          |Generate a Boolean mask indicating missing values         |
|``notnull()``      |Opposite of isnull()                                      |
|``dropna()``           |Return a filtered version of the data                     |
|``fillna()``         |Return a copy of the data with missing values filled      |

In [ ]:
simple_data = pd.Series([1,np.nan, 'Hello', None])
simple_data

In [ ]:
simple_data.isnull()

In [ ]:
~simple_data.isnull()

In [ ]:
simple_data[ ~simple_data.isnull() ]

In [ ]:
simple_data[simple_data.notnull()]

In [ ]:
simple_data

In [ ]:
simple_data.dropna()

In [ ]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,    6]])

df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

<div class="alert alert-block alert-info">
<p>
There are other optional parameters that are offered by the ``dropna()`` function on dataframe, like, ``how`` and ``thresh``. **Look at Page 126 of the textbook for more details.** </p>
</div>

In [ ]:
df

In [ ]:
df.fillna(100)

In [ ]:
df

In [ ]:
df = df.fillna(100)

In [ ]:
df

<div class="alert alert-block alert-info">
<p>
There are other optional parameter called method that are offered by the ``fillna()`` function on dataframe, like, ``method='ffill'`` and ``method='bfill'``. **Look at Page 127 of the textbook for more details.** </p>

<p>
**Also, read other important keyword argument ``inplace``. What happens when it is set to `False` and `True`? **
</p>
</div>

## Working with dataset with missing values

Marketing dataset: This dataset contains questions from questionaries that were filled out by shopping mall customers in the San Francisco Bay area. The goal is to predict the Anual Income of Household from the other 13 demographics attributes. [Source](http://sci2s.ugr.es/keel/dataset.php?cod=163)

[Data Dictionary](http://sci2s.ugr.es/keel/dataset/data/classification/marketing-names.txt)

In [ ]:
mark_data = pd.read_csv('./data/marketing.csv')

In [ ]:
mark_data.head()

In [ ]:
mark_data[ ['YearsInSf', 'Language']]

In [ ]:
mark_data[ ['YearsInSf', 'Language']].isnull()

In [ ]:
mark_data.isnull()

In [ ]:
mark_data[ ['YearsInSf', 'Language']].isnull().mean()

In [ ]:
mark_data.sample(15)
print(mark_data.shape)
dropped_df = mark_data.dropna(axis=1)
print(dropped_df.shape)

### Activity:

* How many total responders in the dataset?


* How many missing values for each attribute (column) in the dataset?



* Which attribute has the most missing values in the dataset? (**Hint**: To get the index of the maximum element you can use [`idxmax()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmax.html) function)


* How do you fill the missing values with a `0`?


* **Most Common Use**: Can you fill each missing value with the corresponding average for that attribute? 
    * For example, if 'Education' attribute is missing for a person, can you find the average 'Education' of all people and fill that missing 'Age' with that average. See if you can figure out how you would do that.

## Activity

In [ ]:
mark_data = pd.read_csv('./data/marketing.csv')

In [ ]:
mark_data.head()

* How many elements of Occupation are missing? Default all the missing values for Occupation to `1`. Write a line of code that verifies there is no more missing data.

* Drop all the cols with missing data into a new data frame

* Drop all the rows with missing data  into a new data frame