# Variable Assignments and Data Types

In [1]:
name = "Jonathan"
birth_month = 3
print(birth_month)
birth_month = "March"
print(birth_month)

3
March

## Fancy Print and Input Statements

In [2]:
print(name, birth_month)
print(name + " was born in " + birth_month)
print("{} was born in {}".format(name, birth_month))

# who would you specifiy the order on insertions
# what about formatting numbers? IE. If you want to round to 2 decimel points?

Jonathan March
Jonathan was born in March
Jonathan was born in March

In [3]:
print("what is your name? ")
your_name = input()
print("what is your birth month? ")
your_birth_month = input()
print("{} was born in {}".format(your_name, your_birth_month))

what is your name?
jonny
what is your birth month?
march
jonny was born in march

In [4]:
your_name = input("What is your name? ")
your_birth_month = input("What month were you born in? ")
print("{} was born in {}".format(your_name, your_birth_month))

What is your name? jonn
What month were you born in? marc
jonn was born in marc

## Converting between Data Types

In [6]:
my_var = "42"
print("{} is a {}".format(my_var, type(my_var)))

my_var = 42
print("{} is a {}".format(my_var, type(my_var)))

my_var = 4.2
print("{} is a {}".format(my_var, type(my_var)))

my_float_as_str = str(my_var)
print("{} is a {}".format(my_float_as_str, type(my_float_as_str)))

my_float_as_str_and_back_again_but_then_an_integer = int(float(my_float_as_str))
print("{} is a {}".format(my_float_as_str_and_back_again_but_then_an_integer, type(my_float_as_str_and_back_again_but_then_an_integer)))

# \my_float_as_str_and_back_again_but_then_an_integer is a bad variable name...

42 is a <class 'str'>
42 is a <class 'int'>
4.2 is a <class 'float'>
4.2 is a <class 'str'>
4 is a <class 'int'>

In [7]:
# what's going on here?

num1 = input("Give me a number... ")
num2 = input("Give me another number... ")

print("result: ", num1 + num2)
print("result: ", num1 * num2)

Give me a number... 23
Give me another number... 45
result:  2345

TypeError: can't multiply sequence by non-int of type 'str'

# Flow Control with Conditionals and Boolean Operators

In [9]:
num = int(input("Give me a number... "))

if num % 2 == 0:
    print("Your number is even")

Give me a number... 43

In [10]:
### num = int(input("Give me a number... "))

if num % 2 == 0:
    print("Your number is even")
else: 
    print("your number is odd")

your number is odd

In [11]:
price = 2.50
#Step 1: Accept the inputs
amount = int(input("How many pounds do you want? "))
money = int(input("How much money you got? "))

total_cost = amount * price
diff = money - total_cost

print("total cost: ",total_cost)
print("diff: ", diff)
#Step 2: Calculate the change
#Step 3: Conditional statement to print the output  

if diff > 0:
    print("Sure thing buddy. Where is your {:.2f} in change".format(diff))
elif diff < 0:
    print("Uh oh. You still need {:.2f} monies".format(diff * -1))
else:
    print("WOW. Exact change!")

How many pounds do you want? 25
How much money you got? 10
total cost:  62.5
diff:  -52.5
Uh oh. You still need 52.50 monies

In [13]:
# Conditional logic can become more complicated
year = int(input("Give me a year. "))

if (year % 4 == 0) and (year % 100 != 0):
    print("yep. leap year")
else:
    print("Nope. boring year")
    if year % 2 == 0:
        print("But at least it's even!")

Give me a year. 2000
Nope. boring year
But at least it's even!

When using operators like `and` and `or` in a conditional statement... what are the other options?

How are the different that what you use (later) with array like objects in numpy?

# Loops

## for loops

In [14]:
print("a sequence of numbers")
for el in range(10):
    print(el)

print("a sequence of odd numbers")
for i in range(16):
    if i % 2 == 1:
        print(i)    
    
print("also a sequence of odd numbers")
for i in range(1,16,2):
    print(i)

a sequence of numbers
0
1
2
3
4
5
6
7
8
9
a sequence of odd numbers
1
3
5
7
9
11
13
15
also a sequence of odd numbers
1
3
5
7
9
11
13
15

## while loops

In [15]:
print("print numbers until the value is greater than 10")
i = 0
while(i<10):
    print(str(i) + " is not greater than 10")
    i = i + 1

print numbers until the value is greater than 10
0 is not greater than 10
1 is not greater than 10
2 is not greater than 10
3 is not greater than 10
4 is not greater than 10
5 is not greater than 10
6 is not greater than 10
7 is not greater than 10
8 is not greater than 10
9 is not greater than 10

In [1]:
# understand how this works and what 'break' means on ln 16
answer = "Parasite"
is_correct = False
counter = 0
while not is_correct:
    guess = input("What movie won the 2020 Best Picture at the Oscars? ")
    counter  = counter + 1
    if guess == answer:
        is_correct = True
        print("Correct!!!")
    else:
        print("Nope. Guess again")
        
        if counter > 5:
            print("Sorry. Out of guesses")
            break

What movie won the 2020 Best Picture at the Oscars? Parasite
Correct!!!

# Functions

In [2]:
def repeater(arg):
    # notice what happens when you multiply a string
    return str(arg) * 5

repeater(5)

'55555'

In [3]:
def repeater(word, count=5):
    return str(word) * count

repeater("woof")

'woofwoofwoofwoofwoof'

In [6]:
# What's different here? What will it return?
def repeater(word, count=5):
   print(str(word) * count)

repeater("woof ", 100)

woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof woof

## Scopes: Private vs. Global

In [7]:
def private_example(arg):
    private_var = "secret"
    return arg * 4

something = private_example('foobar')
print(something)
print(private_var)

# What are the rules for private and public variables?
# how does it affect lists that are assigned by reference?

foobarfoobarfoobarfoobar

NameError: name 'private_var' is not defined

# Lists

In [9]:
# python lists are hetrogenious. they can contain anything
list1 = [1,2.0,3,None,False,"word", [1,2,3]]
print(list1)

# access lists via index
print("first item is index 0: {}".format(  list1[0]  ))
print("last item is index -1: {}".format(  list1[-1]  ))
print("slice the list using ':' : {}".format(  list1[2:5]  ))
print("slice the list using '::-2' : {}".format(  list1[::-2]  ))

[1, 2.0, 3, None, False, 'word', [1, 2, 3]]
first item is index 0: 1
last item is index -1: [1, 2, 3]
slice the list using ':' : [3, None, False]
slice the list using '::-2' : [[1, 2, 3], False, 3, 1]

In [10]:
# Assignment by reference

var_1 = "foobar"

print("var 1 is: {}".format(var_1))
var2 = var_1

var2 = "bazz"
print("var 1 is now: {}".format(var_1))

list2 = [1,2,3]
print("list 2 is: {}".format(list2))
list3 = list2

list3[0] = 100

print("list 2 is now: {}".format(list2))

# if you want to make ana actual copy of a list, how do you do that?

var 1 is: foobar
var 1 is now: foobar
list 2 is: [1, 2, 3]
list 2 is now: [100, 2, 3]

In [11]:
# use for loops to loop through lists
print("\nfor loop backwards")
for i in list1[::-1]:
    print(i, type(i))
    
# But you could use a while loop using a counter and len() to get the number of items in the list
print("\nwhile loop")
i = 0
while i < len(list1):
    item_at_index = list1[i]
    print(item_at_index, type(item_at_index))
    i = i + 1

for loop backwards
[1, 2, 3] <class 'list'>
word <class 'str'>
False <class 'bool'>
None <class 'NoneType'>
3 <class 'int'>
2.0 <class 'float'>
1 <class 'int'>

while loop
1 <class 'int'>
2.0 <class 'float'>
3 <class 'int'>
None <class 'NoneType'>
False <class 'bool'>
word <class 'str'>
[1, 2, 3] <class 'list'>

In [12]:
print("Python".lower())
words = []

# Accept 5 words
for i in range(3):
    word = input("Best programming languages... ")
    words.append(word.lower())

# check if value is in list
if "python" in words:
    print("Nice to include Python!")
else:
    print(":-(")

python
Best programming languages... ruby
Best programming languages... python
Best programming languages... java
Nice to include Python!

In [13]:
# What is list comprehension?
schools = ['Notre Dame', 'Michigan', 'Brown', 'Chicago']
["Trash" if s == 'Michigan' else s for s in schools]

['Notre Dame', 'Trash', 'Brown', 'Chicago']

In [15]:
# you can do fun things with lists
list_of_strs = ['one', 'two', 'three']
list_of_nums = [1,2,3,4]
print(list_of_nums * 5)
print(list_of_strs * 5)
print(list_of_nums * list_of_strs)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
['one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
# what are max() min()... functions used for?
# what's the difference between append() and insert()

# What place in data analytics do lists have? 
# what are some some things python lists can do that arrays can't?
# When and where should you use them or not use them?

# Fixed Type Arrays

In [16]:
import array

basic_list = list(range(10))
print(basic_list)

# designate type as integer
basic_array = array.array('i',basic_list)
print(basic_array)


# designate type as float
basic_f_array = array.array('f',basic_list)
print(basic_f_array)

# what similarities do lists and arrays have? Differences?

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
array('f', [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])

# Importing Modules

In [2]:
# we imported array which is part of basic python, just not loaded automatically
# but we also use 3rd party modules that also need to be loaded using import
# what does `as` do?

import numpy as np
import pandas as pd

# NumPy - Numerical Python

In [18]:
list_of_ints = [0, 1, 2, 3, 4, 5]
print(np.array(list_of_ints))

# How do you create np arrays from scratch?

[0 1 2 3 4 5]

In [19]:
np_array = np.array(range(10))

print(np_array[0])
print(np_array[-1])
print(np_array[2:7])
print(np_array[7:2:-1])

# seems a lot like lists...

0
9
[2 3 4 5 6]
[7 6 5 4 3]

In [20]:
# 2 dimensional arrays FTW!
two_dimensional_array = np.array([range(i, i + 3) for i in [2, 4, 6]])
two_dimensional_array

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

In [21]:
print("Get the 0th indexed row (only specify an \"x\" coordinate)")
print(two_dimensional_array[0])

print("Get the 2nd indexed (3rd) row")
print(two_dimensional_array[2])

print("Get 2nd indexed row and then get the 1st indexed column in that row. ")
print(two_dimensional_array[2][1])

print('Go through each array and collect the first element in each')
print(two_dimensional_array[:3,0])

print('Go through each array starting at index 1 and up to but not includeing 3 and return the first of those arrays')
print(two_dimensional_array[1:3][0])

print('Go through each array and return a slice containing the first of those arrays')
print(two_dimensional_array[:,:1])

Get the 0th indexed row (only specify an "x" coordinate)
[2 3 4]
Get the 2nd indexed (3rd) row
[6 7 8]
Get 2nd indexed row and then get the 1st indexed column in that row.
7
Go through each array and collect the first element in each
[2 4 6]
Go through each array starting at index 1 and up to but not includeing 3 and return the first of those arrays
[4 5 6]
Go through each array and return a slice containing the first of those arrays
[[2]
 [4]
 [6]]

In [ ]:
# Numpy Attributes

#     ndim
#     shape
#     size
#     dtype
#     itemsize
#     nbytes

In [22]:
# sort an array

new_array = np.array([2,5,1,89,3,0])
print(new_array)
print(np.sort(new_array))
print(new_array)

# sorting is not remembered? How are two ways you could make it 'stick'?

[ 2  5  1 89  3  0]
[ 0  1  2  3  5 89]
[ 2  5  1 89  3  0]

In [ ]:
# How would you merge, concatenate, and split numpy arrays?

## Univeral Functions (UFuncts)

In [23]:
# don't use loops or list type operations on np arrays. Use universal functions
# why ^^
np_array = np.array(range(5))

print(np_array ** 2)
print(np_array / 2)
print(np_array % 2)
print(np.sum(np_array))

# what is the other syntax to accomplish this?
# what are the other arithmetic ufuncts available? What do they do?

[ 0  1  4  9 16]
[0.  0.5 1.  1.5 2. ]
[0 1 0 1 0]
10

In [24]:
arr_1 = np.arange(1, 6)
arr_2 = np.arange(6, 11)

print(arr_1 + arr_2)
print(arr_1 / arr_2)

[ 7  9 11 13 15]
[0.16666667 0.28571429 0.375      0.44444444 0.5       ]

In [25]:
print("2 dim: \n", two_dimensional_array)
arr_3 = np.array([1,2,3])
print("new array: \n",arr_3)

print("multipy: \n", two_dimensional_array * arr_3)
print("add: \n", two_dimensional_array + arr_3)

2 dim:
 [[2 3 4]
 [4 5 6]
 [6 7 8]]
new array:
 [1 2 3]
multipy:
 [[ 2  6 12]
 [ 4 10 18]
 [ 6 14 24]]
add:
 [[ 3  5  7]
 [ 5  7  9]
 [ 7  9 11]]

In [26]:
# why doesn't this work

arr_4 = np.array([1,2])
print(arr_4)

two_dimensional_array * arr_4

[1 2]

ValueError: operands could not be broadcast together with shapes (3,3) (2,)

In [27]:
# but then why does this work?
arr_5 = [[1],[5],[10]]
arr_6 = [1,5,10]
print("array: \n",two_dimensional_array)
print("array 5: \n",arr_5)
print("array + 5: \n",two_dimensional_array + arr_5)
print("array 6: \n",arr_5)
print("array + 6: \n",two_dimensional_array + arr_6)

array:
 [[2 3 4]
 [4 5 6]
 [6 7 8]]
array 5:
 [[1], [5], [10]]
array + 5:
 [[ 3  4  5]
 [ 9 10 11]
 [16 17 18]]
array 6:
 [[1], [5], [10]]
array + 6:
 [[ 3  8 14]
 [ 5 10 16]
 [ 7 12 18]]

## Aggregation

In [28]:
# what are the aggregation functions available?

np_array_2 = np.array([1,45,99,1000000])

print(np.mean(np_array_2))
print(np.median(np_array_2))
print(np.sum(np_array_2))

250036.25
72.0
1000145

## Masking

In [29]:
# What is masking?

array_of_nums = np.arange(100)
array_of_nums

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [31]:
# what is going on in each of these? What are the other bitwise operators?
# how do they line up with the regular operators in python?

div_by_3 = array_of_nums % 3 == 0
print(div_by_3)
print("there are {} numbers in the list that are divisible by 3".format(div_by_3.sum()))

div_by_3_and_2 = (array_of_nums % 3 == 0) & (array_of_nums % 2 == 0)
print("there are {} numbers in the list that are divisible by 3 and 2".format(div_by_3_and_2.sum()))

div_by_3_or_7 = (array_of_nums % 3 == 0) | (array_of_nums % 7 == 0)
print("there are {} numbers in the list that are divisible by 3 or 7".format(div_by_3_or_7.sum()))

[ True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True False False  True False False  True False False
  True False False  True]
there are 34 numbers in the list that are divisible by 3
there are 17 numbers in the list that are divisible by 3 and 2
there are 44 numbers in the list that are divisible by 3 or 7

# Dictionaries

In [32]:
# basic dictionary

person = {
    "name": "Jonathan",
    "age": "24",
    "honestly_level": 0,
    "children": ["Jesse", "Lily"],
    "Good Teacher": False
}
print(person)

jonathan = person
jonathan['age'] = "32"
jonathan['honestly_level'] = 3
jonathan["misc"] = "foo bar baz"

print(person)

for child in person["children"]:
    print(child)

{'name': 'Jonathan', 'age': '24', 'honestly_level': 0, 'children': ['Jesse', 'Lily'], 'Good Teacher': False}
{'name': 'Jonathan', 'age': '32', 'honestly_level': 3, 'children': ['Jesse', 'Lily'], 'Good Teacher': False, 'misc': 'foo bar baz'}
Jesse
Lily

In [ ]:
# hey hey hey hey na na na goodbye
sent = input("Enter a sentence: ")

# Convert the sentence to a list of words using split() function
words_list = sent.split()

# Create an empty dictionary that contains words and frequencies
word_counts = {}
# Iterate through every word in the list
for w in words_list:
    if w in word_counts:
        word_counts[w] = word_counts[w] + 1
    else:
        word_counts[w] = 1

print(word_counts)

# Pandas

## Loading and Viewing Data

In [19]:
# this is loading a JSON file. 
# How do we load CSV files? How so you write a dataframe to file?
pokedex = pd.read_json('./data/pokedex.json')
pokedex.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

## Dataframes and Series

In [13]:
# dataframe consists of columns and rows
print(type(pokedex))
# columns act like a key from a dictionary and the value is the series (think numpy array)
name_series = pokedex['name']
print(type(name_series))
print(pokedex.keys())

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
Index(['id', 'num', 'name', 'img', 'type', 'height', 'weight', 'candy',
       'candy_count', 'egg', 'spawn_chance', 'avg_spawns', 'spawn_time',
       'multipliers', 'weaknesses', 'next_evolution', 'prev_evolution'],
      dtype='object')

In [20]:
# a dataframe as an index (0-based by default)
print(pokedex.index)

# but you can set it to something else (even strings)
pokedex.index = pokedex['name']
print(pokedex.index)
pokedex.head()

# What are two other ways to set the index of a dataframe?

RangeIndex(start=0, stop=151, step=1)
Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       ...
       'Aerodactyl', 'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Dratini',
       'Dragonair', 'Dragonite', 'Mewtwo', 'Mew'],
      dtype='object', name='name', length=151)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,,
Bulbasaur,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
Ivysaur,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
Venusaur,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
Charmander,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
Charmeleon,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [5]:
# what is going on here? How is this different?
pokedex.set_index('name', inplace=True)
pokedex.head()

,id,num,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,
Bulbasaur,1,1,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
Ivysaur,2,2,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
Venusaur,3,3,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
Charmander,4,4,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
Charmeleon,5,5,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

## Indexing and Selection

In [22]:
# you don't need to know this... yet. But what does inplace=True do?
pokedex.sort_index(inplace=True)
pokedex.head(2)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,,
Abra,63,63,Abra,http://www.serebii.net/pokemongo/pokemon/063.png,[Psychic],0.89 m,19.5 kg,Abra Candy,25.0,5 km,0.420,42.0,04:30,"[1.3599999999999999, 1.9500000000000002]","[Bug, Ghost, Dark]","[{'num': '064', 'name': 'Kadabra'}, {'num': '0...",NaN
Aerodactyl,142,142,Aerodactyl,http://www.serebii.net/pokemongo/pokemon/142.png,"[Rock, Flying]",1.80 m,59.0 kg,None,NaN,10 km,0.018,1.8,23:40,None,"[Water, Electric, Ice, Rock, Steel]",NaN,NaN

In [16]:
# Select a series (limit to first 5)
# print(pokedex['egg'][:5])

# Select multiple series (limit to first 5) -- Notice that we use a list here
pokedex[ ['height', 'weight'] ][:5]

   height    weight
0  0.71 m    6.9 kg
1  0.99 m   13.0 kg
2  2.01 m  100.0 kg
3  0.61 m    8.5 kg
4  1.09 m   19.0 kg

In [23]:
# slice by index
# how does this differ from slicing by index in a list or array? Can you still use 0-based index?
pokedex['Ponyta':'Psyduck']

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,,
Ponyta,77,77,Ponyta,http://www.serebii.net/pokemongo/pokemon/077.png,[Fire],0.99 m,30.0 kg,Ponyta Candy,50.0,5 km,0.510,51.0,02:50,"[1.48, 1.5]","[Water, Ground, Rock]","[{'num': '078', 'name': 'Rapidash'}]",NaN
Porygon,137,137,Porygon,http://www.serebii.net/pokemongo/pokemon/137.png,[Normal],0.79 m,36.5 kg,None,NaN,5 km,0.012,1.2,02:49,None,[Fighting],NaN,NaN
Primeape,57,57,Primeape,http://www.serebii.net/pokemongo/pokemon/057.png,[Fighting],0.99 m,32.0 kg,Mankey Candy,NaN,Not in Eggs,0.031,3.1,12:33,None,"[Flying, Psychic, Fairy]",NaN,"[{'num': '056', 'name': 'Mankey'}]"
Psyduck,54,54,Psyduck,http://www.serebii.net/pokemongo/pokemon/054.png,[Water],0.79 m,19.6 kg,Psyduck Candy,50.0,5 km,2.540,254.0,03:41,[2.27],"[Electric, Grass]","[{'num': '055', 'name': 'Golduck'}]",NaN

In [24]:
# More list/array/dictionary like functions

print("Eevee" in pokedex['name'])
print("Justin Bieber" in pokedex['name'])
print("Eevee" in pokedex.index)

True
False
True

## Masking

In [25]:
# what does this do?
pokedex['spawn_chance'] > .5

name
Abra          False
Aerodactyl    False
Alakazam      False
Arbok         False
Arcanine      False
              ...
Weepinbell    False
Weezing       False
Wigglytuff    False
Zapdos        False
Zubat          True
Name: spawn_chance, Length: 151, dtype: bool

In [26]:
(pokedex['spawn_chance'] < .5) & (pokedex['avg_spawns'] < 30)

name
Abra          False
Aerodactyl     True
Alakazam       True
Arbok          True
Arcanine       True
              ...
Weepinbell     True
Weezing        True
Wigglytuff     True
Zapdos         True
Zubat         False
Length: 151, dtype: bool

In [27]:
# use the mask on a dataframe
pokedex[ (pokedex['spawn_chance'] < .5) & (pokedex['avg_spawns'] > 30) ].sample(5)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,,
Diglett,50,50,Diglett,http://www.serebii.net/pokemongo/pokemon/050.png,[Ground],0.20 m,0.8 kg,Diglett Candy,50.0,5 km,0.40,40.0,02:22,[2.69],"[Water, Grass, Ice]","[{'num': '051', 'name': 'Dugtrio'}]",NaN
Jynx,124,124,Jynx,http://www.serebii.net/pokemongo/pokemon/124.png,"[Ice, Psychic]",1.40 m,40.6 kg,None,NaN,10 km,0.35,35.0,05:41,None,"[Fire, Bug, Rock, Ghost, Dark, Steel]",NaN,NaN
Raticate,20,20,Raticate,http://www.serebii.net/pokemongo/pokemon/020.png,[Normal],0.71 m,18.5 kg,Rattata Candy,NaN,Not in Eggs,0.41,41.0,01:56,None,[Fighting],NaN,"[{'num': '019', 'name': 'Rattata'}]"
Machop,66,66,Machop,http://www.serebii.net/pokemongo/pokemon/066.png,[Fighting],0.79 m,19.5 kg,Machop Candy,25.0,5 km,0.49,49.0,01:55,"[1.6400000000000001, 1.65]","[Flying, Psychic, Fairy]","[{'num': '067', 'name': 'Machoke'}, {'num': '0...",NaN
Kakuna,14,14,Kakuna,http://www.serebii.net/pokemongo/pokemon/014.png,"[Bug, Poison]",0.61 m,10.0 kg,Weedle Candy,50.0,Not in Eggs,0.44,44.0,02:30,"[3.01, 3.41]","[Fire, Flying, Psychic, Rock]","[{'num': '015', 'name': 'Beedrill'}]","[{'num': '013', 'name': 'Weedle'}]"

## Missing Data

In [28]:
# how many rows with candy count are missing?
# where have we seen something like this before?

pokedex['candy_count'].isnull().sum()

81

In [29]:
# understand why the shape for each of these is different
print(pokedex.shape)
print(pokedex.dropna().shape)
print(pokedex.dropna(thresh=15).shape)
print(pokedex.dropna(axis=1).shape)

(151, 17)
(16, 17)
(70, 17)
(151, 13)

In [32]:
# get the null count for the entire dataframe
# print(pokedex[['num','candy','next_evolution','prev_evolution']].isnull()[:5])
print(pokedex.isnull().sum())
# print( pokedex.isnull().mean()* 100 )

id                 0
num                0
name               0
img                0
type               0
height             0
weight             0
candy              0
candy_count       81
egg                0
spawn_chance       0
avg_spawns         0
spawn_time         0
multipliers       81
weaknesses         0
next_evolution    81
prev_evolution    79
dtype: int64

In [33]:
pokedex['candy_count']

name
Abra           25.0
Aerodactyl      NaN
Alakazam        NaN
Arbok           NaN
Arcanine        NaN
              ...
Weepinbell    100.0
Weezing         NaN
Wigglytuff      NaN
Zapdos          NaN
Zubat          50.0
Name: candy_count, Length: 151, dtype: float64

In [35]:
# what is we want to populate the missing numbers with '0'. in this case that makes sense
print(pokedex['candy_count'].fillna(0)[:5])
# but it does not save it
print(pokedex['candy_count'][:5])
poke_with_zeros = pokedex['candy_count'].fillna(0)
poke_with_zeros

name
Abra          25.0
Aerodactyl     0.0
Alakazam       0.0
Arbok          0.0
Arcanine       0.0
Name: candy_count, dtype: float64
name
Abra          25.0
Aerodactyl     NaN
Alakazam       NaN
Arbok          NaN
Arcanine       NaN
Name: candy_count, dtype: float64

name
Abra           25.0
Aerodactyl      0.0
Alakazam        0.0
Arbok           0.0
Arcanine        0.0
              ...
Weepinbell    100.0
Weezing         0.0
Wigglytuff      0.0
Zapdos          0.0
Zubat          50.0
Name: candy_count, Length: 151, dtype: float64

In [36]:
pokedex['candy_count'].fillna(0, inplace=True)
pokedex.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,,
Abra,63,63,Abra,http://www.serebii.net/pokemongo/pokemon/063.png,[Psychic],0.89 m,19.5 kg,Abra Candy,25.0,5 km,0.4200,42.00,04:30,"[1.3599999999999999, 1.9500000000000002]","[Bug, Ghost, Dark]","[{'num': '064', 'name': 'Kadabra'}, {'num': '0...",NaN
Aerodactyl,142,142,Aerodactyl,http://www.serebii.net/pokemongo/pokemon/142.png,"[Rock, Flying]",1.80 m,59.0 kg,None,0.0,10 km,0.0180,1.80,23:40,None,"[Water, Electric, Ice, Rock, Steel]",NaN,NaN
Alakazam,65,65,Alakazam,http://www.serebii.net/pokemongo/pokemon/065.png,[Psychic],1.50 m,48.0 kg,Abra Candy,0.0,Not in Eggs,0.0073,0.73,12:33,None,"[Bug, Ghost, Dark]",NaN,"[{'num': '063', 'name': 'Abra'}, {'num': '064'..."
Arbok,24,24,Arbok,http://www.serebii.net/pokemongo/pokemon/024.png,[Poison],3.51 m,65.0 kg,Ekans Candy,0.0,Not in Eggs,0.0720,7.20,01:50,None,"[Ground, Psychic]",NaN,"[{'num': '023', 'name': 'Ekans'}]"
Arcanine,59,59,Arcanine,http://www.serebii.net/pokemongo/pokemon/059.png,[Fire],1.91 m,155.0 kg,Growlithe Candy,0.0,Not in Eggs,0.0170,1.70,03:11,None,"[Water, Ground, Rock]",NaN,"[{'num': '058', 'name': 'Growlithe'}]"

In [37]:
# if you want to fill the missing numbers with an aggregation, you can also do that 
pokedex = pd.read_json('./data/pokedex.json')
pokedex = pokedex.set_index('name')
pokedex = pokedex.sort_index()
pokedex.head()

,id,num,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,
Abra,63,63,http://www.serebii.net/pokemongo/pokemon/063.png,[Psychic],0.89 m,19.5 kg,Abra Candy,25.0,5 km,0.4200,42.00,04:30,"[1.3599999999999999, 1.9500000000000002]","[Bug, Ghost, Dark]","[{'num': '064', 'name': 'Kadabra'}, {'num': '0...",NaN
Aerodactyl,142,142,http://www.serebii.net/pokemongo/pokemon/142.png,"[Rock, Flying]",1.80 m,59.0 kg,None,NaN,10 km,0.0180,1.80,23:40,None,"[Water, Electric, Ice, Rock, Steel]",NaN,NaN
Alakazam,65,65,http://www.serebii.net/pokemongo/pokemon/065.png,[Psychic],1.50 m,48.0 kg,Abra Candy,NaN,Not in Eggs,0.0073,0.73,12:33,None,"[Bug, Ghost, Dark]",NaN,"[{'num': '063', 'name': 'Abra'}, {'num': '064'..."
Arbok,24,24,http://www.serebii.net/pokemongo/pokemon/024.png,[Poison],3.51 m,65.0 kg,Ekans Candy,NaN,Not in Eggs,0.0720,7.20,01:50,None,"[Ground, Psychic]",NaN,"[{'num': '023', 'name': 'Ekans'}]"
Arcanine,59,59,http://www.serebii.net/pokemongo/pokemon/059.png,[Fire],1.91 m,155.0 kg,Growlithe Candy,NaN,Not in Eggs,0.0170,1.70,03:11,None,"[Water, Ground, Rock]",NaN,"[{'num': '058', 'name': 'Growlithe'}]"

In [38]:
pokedex['candy_count'].mean()
pokedex['candy_count'].fillna( pokedex['candy_count'].mean() , inplace=True)
pokedex.head()

,id,num,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,
Abra,63,63,http://www.serebii.net/pokemongo/pokemon/063.png,[Psychic],0.89 m,19.5 kg,Abra Candy,25.0,5 km,0.4200,42.00,04:30,"[1.3599999999999999, 1.9500000000000002]","[Bug, Ghost, Dark]","[{'num': '064', 'name': 'Kadabra'}, {'num': '0...",NaN
Aerodactyl,142,142,http://www.serebii.net/pokemongo/pokemon/142.png,"[Rock, Flying]",1.80 m,59.0 kg,None,57.3,10 km,0.0180,1.80,23:40,None,"[Water, Electric, Ice, Rock, Steel]",NaN,NaN
Alakazam,65,65,http://www.serebii.net/pokemongo/pokemon/065.png,[Psychic],1.50 m,48.0 kg,Abra Candy,57.3,Not in Eggs,0.0073,0.73,12:33,None,"[Bug, Ghost, Dark]",NaN,"[{'num': '063', 'name': 'Abra'}, {'num': '064'..."
Arbok,24,24,http://www.serebii.net/pokemongo/pokemon/024.png,[Poison],3.51 m,65.0 kg,Ekans Candy,57.3,Not in Eggs,0.0720,7.20,01:50,None,"[Ground, Psychic]",NaN,"[{'num': '023', 'name': 'Ekans'}]"
Arcanine,59,59,http://www.serebii.net/pokemongo/pokemon/059.png,[Fire],1.91 m,155.0 kg,Growlithe Candy,57.3,Not in Eggs,0.0170,1.70,03:11,None,"[Water, Ground, Rock]",NaN,"[{'num': '058', 'name': 'Growlithe'}]"

## Combining Pandas Datasets

### Concatenation

In [39]:
poke_1 = pokedex.iloc[:25]
poke_2 = pokedex.iloc[25:100]
poke_3 = pokedex.iloc[100:]
print(poke_1.shape, poke_2.shape,poke_3.shape)

(25, 16) (75, 16) (51, 16)

In [40]:
new_poke_df = pd.concat([poke_3, poke_2, poke_1])
print(new_poke_df.shape)
print(poke_1.shape[0] + poke_2.shape[0] + poke_3.shape[0])
new_poke_df.head()

# what does verify_integrity do?
# what does ignore_index do?
# is there a way to tell is there are duplicates?

(151, 16)
151

,id,num,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
name,,,,,,,,,,,,,,,,
Pidgeot,18,18,http://www.serebii.net/pokemongo/pokemon/018.png,"[Normal, Flying]",1.50 m,39.5 kg,Pidgey Candy,57.3,Not in Eggs,0.13,13.000,01:50,None,"[Electric, Rock]",NaN,"[{'num': '016', 'name': 'Pidgey'}, {'num': '01..."
Pidgeotto,17,17,http://www.serebii.net/pokemongo/pokemon/017.png,"[Normal, Flying]",1.09 m,30.0 kg,Pidgey Candy,50.0,Not in Eggs,1.02,102.000,01:30,[1.79],"[Electric, Rock]","[{'num': '018', 'name': 'Pidgeot'}]","[{'num': '016', 'name': 'Pidgey'}]"
Pidgey,16,16,http://www.serebii.net/pokemongo/pokemon/016.png,"[Normal, Flying]",0.30 m,1.8 kg,Pidgey Candy,12.0,2 km,15.98,1.598,01:34,"[1.71, 1.92]","[Electric, Rock]","[{'num': '017', 'name': 'Pidgeotto'}, {'num': ...",NaN
Pikachu,25,25,http://www.serebii.net/pokemongo/pokemon/025.png,[Electric],0.41 m,6.0 kg,Pikachu Candy,50.0,2 km,0.21,21.000,04:00,[2.34],[Ground],"[{'num': '026', 'name': 'Raichu'}]",NaN
Pinsir,127,127,http://www.serebii.net/pokemongo/pokemon/127.png,[Bug],1.50 m,55.0 kg,None,57.3,10 km,0.99,99.000,03:25,None,"[Fire, Flying, Rock]",NaN,NaN

### Merging

In [41]:
pop = pd.read_csv('./data/state-population.csv')
areas = pd.read_csv('./data/state-areas.csv')
abbrevs = pd.read_csv('./data/state-abbrevs.csv')

In [42]:
# you can see that these two dfs share a common column, 'state' but the last does not
# this makes merging easy

print(areas.head())
print(abbrevs.head())
print(pop.head())

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
  state_abrv     ages  year  population
0         AL  under18  2012   1117489.0
1         AL    total  2012   4817528.0
2         AL  under18  2010   1130966.0
3         AL    total  2010   4785570.0
4         AL  under18  2011   1125763.0

In [43]:
# but look at the shape? there is one more record in the areas df
# why is it not included?

merged_df = pd.merge(areas, abbrevs)

print("areas: ", areas.shape)
print("abbrevs: ", abbrevs.shape)

print("merged: ", merged_df.shape)
merged_df.head()

areas:  (52, 2)
abbrevs:  (51, 2)
merged:  (51, 3)

        state  area (sq. mi) abbreviation
0     Alabama          52423           AL
1      Alaska         656425           AK
2     Arizona         114006           AZ
3    Arkansas          53182           AR
4  California         163707           CA

In [45]:
# what are left, right, inner, and outer joins? How do you use them to merge?
left_merged_df = pd.merge(areas, abbrevs, how="left")
print(left_merged_df.shape)
print(left_merged_df.isnull().sum())

left_merged_df[ left_merged_df['abbreviation'].isnull()]

(52, 3)
state            0
area (sq. mi)    0
abbreviation     1
dtype: int64

          state  area (sq. mi) abbreviation
51  Puerto Rico           3515          NaN

In [47]:
# why does this break?

# pd.merge(left_merged_df, pop)

In [48]:
# notice the shape of these two dfs are wildly different. What is going on?

print(left_merged_df.shape)
print(pop.shape)
merged_with_pop = pd.merge(left_merged_df, pop, left_on="abbreviation", right_on="state_abrv")
print(merged_with_pop.shape)

(52, 3)
(2544, 4)
(2448, 7)

In [49]:
pd.merge(left_merged_df, pop, left_on="abbreviation", right_on="state_abrv")

,state,area (sq. mi),abbreviation,state_abrv,ages,year,population
0,Alabama,52423,AL,AL,under18,2012,1117489.0
1,Alabama,52423,AL,AL,total,2012,4817528.0
2,Alabama,52423,AL,AL,under18,2010,1130966.0
3,Alabama,52423,AL,AL,total,2010,4785570.0
4,Alabama,52423,AL,AL,under18,2011,1125763.0
...,...,...,...,...,...,...,...
2443,District of Columbia,68,DC,DC,under18,1991,116825.0
2444,District of Columbia,68,DC,DC,under18,1992,118636.0
2445,District of Columbia,68,DC,DC,total,1992,597567.0
2446,District of Columbia,68,DC,DC,under18,1990,112632.0
2447,District of Columbia,68,DC,DC,total,1990,605321.0

In [50]:
# understand how the different join types change the resulting dataset
print("inner: ", pd.merge(left_merged_df, pop, left_on="abbreviation", right_on="state_abrv").shape)
print("left: ", pd.merge(left_merged_df, pop, left_on="abbreviation", right_on="state_abrv", how="left").shape)
print("right: ", pd.merge(left_merged_df, pop, left_on="abbreviation", right_on="state_abrv", how="right").shape)
print("outer: ", pd.merge(left_merged_df, pop, left_on="abbreviation", right_on="state_abrv", how="outer").shape)

inner:  (2448, 7)
left:  (2449, 7)
right:  (2544, 7)
outer:  (2545, 7)

In [51]:
# you need to join not on a column but an index?
# what would you do with this? 
# can it be done?

abbres_with_index = abbrevs.set_index('abbreviation')
abbres_with_index.head()

                   state
abbreviation
AL               Alabama
AK                Alaska
AZ               Arizona
AR              Arkansas
CA            California